
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
*.exe
edu/08.12.2021/classwork.cpp
edu/08.12.2021/tempCodeRunnerFile.cpp
edu/10.12.2021/classwork.cpp
edu/10.12.2021/hw5--.cpp
edu/10.12.2021/tempCodeRunnerFile.cpp
edu/10.12.2021/hw5.1
*.1
edu/17.12.2021/class1.cpp
edu/17.12.2021/class2.cpp
edu/15.12.2021/classwork.cpp
edu/17.12.2021/build/Debug/classwork.o
edu/17.12.2021/build/Debug/hw1.o
edu/17.12.2021/tempCodeRunnerFile.cpp
edu/22.12.2021/classwork.cpp
